# macOS
.DS_Store
.AppleDouble
.LSOverride

# 编译中间产物
*.o
*.obj
*.out
*.exe
*.dSYM/

# 编辑器/IDE
*.swp

# 编译生成的可执行文件(无扩展名)
001
B4050
GESP5/1508
GESP5/1554
GESP5/1556
LUOGU/USACO/P8898
LUOGU/USACO/P8899
LUOGU/USACO/P9015
LUOGU/USACO/P9207
LUOGU/USACO/P9939
LUOGU/USACO/P9948
LUOGU/USACO/P9952
LUOGU/USACO/P9975
LUOGU/七级/难度4/P12144
LUOGU/七级/难度4/P12187
LUOGU/其他/P8508
LUOGU/其他/P8538
LUOGU/其他/P8637
LUOGU/其他/P8638
LUOGU/其他/P8664
LUOGU/其他/P8669
LUOGU/其他/P8672
LUOGU/其他/P8683
LUOGU/其他/P8732
LUOGU/其他/P8782
LUOGU/其他/P8787
LUOGU/其他/P8800
LUOGU/其他/P8801
LUOGU/其他/P8872
LUOGU/其他/P8919
LUOGU/其他/P9046
LUOGU/其他/P9050
LUOGU/其他/P9143
LUOGU/其他/P9147
LUOGU/其他/P9199
LUOGU/其他/P9207
LUOGU/其他/P9228
LUOGU/其他/P9287
LUOGU/其他/P9344
LUOGU/其他/P9460
LUOGU/其他/P9467
LUOGU/其他/P9540
LUOGU/其他/P9559
LUOGU/其他/P9562
LUOGU/其他/P9573
LUOGU/其他/P9587
LUOGU/其他/P9612
LUOGU/其他/P9649
LUOGU/其他/P9653
LUOGU/其他/P9728
LUOGU/其他/P9780
LUOGU/其他/P9802
LUOGU/其他/P9899
LUOGU/其他/P9900
cell_division
fibonacci_recursive
test
